.mapboxgl-ctrl {
  display: none !important;
}

.map-container {
  height: 90vh;
  width: 90vw;
  padding: 20px;
  margin: auto;
  border-radius: 10%;
}

.mapboxgl-canvas {
  border-radius: 1% !important;
}
