@import "../../styles/colors.scss";

#light .navbar {
  box-shadow: 0px 0px 10px 1px $battleship-grey
}

#dark .navbar {
  box-shadow: 0px 0px 10px 1px black
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  height: 2.75rem;
  padding-left: 2.5%;
}

#light .navbar-items {
  background: $silver-sand;
}

#dark .navbar-items {
  background: $jet;
}

.navbar-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  min-width: 35%;
  height: 2.75rem;
}

.navbar-logo a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-self: center;
}

#light .navbar-logo a{
  color: $battleship-grey;
}

#dark .navbar-logo a{
  color: $light-gray;
}

.navbar-logo img {
  max-width: 100%;
  max-height: 100%;
}

#light .navbar-logo {
  color: $battleship-grey;
}

#dark .navbar-logo {
  color: $light-gray;
}


.nav-menu {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  list-style: none;
  text-align: center;
  width: 100%;
  padding-right: 2.5%;
}

.nav-menu li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

.switch {
  display: flex;
  height: inherit;
  width: 7.5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

#light .switch {
  color: $battleship-grey;
}

#dark .switch {
  color: $light-gray;
}

.on-mobile {
  display: none;
}

@media screen and (max-width: 1160px) {
  .navbar-logo {
    justify-content: space-evenly;
    min-width: 15%;
  }

  .not-on-mobile {
    display: none;
  }

  .on-mobile {
    display: block;
  }

  .navbar-items {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2.75rem;
    left: -100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: 25%;
    border-radius: 2%;
  }

  #light .nav-menu {
    background-color: $silver-sand;
  }

  #dark .nav-menu {
    background-color: $jet;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  #light .menu-icon i {
    color: $battleship-grey;
  }

  #dark .menu-icon i {
    color: $light-gray;
  }

  #light .menu-icon i:hover {
    color: $cultured;
  }

  #dark .menu-icon i:hover {
    color: $onyx;
  }


  #light .fa-xmark {
    color: $battleship-grey;
    font-size: 2rem;
  }

  #light .fa-xmark:hover {
    color: $cultured;
  }

  #dark .fa-xmark {
    color: $light-gray;
    font-size: 2rem;
  }

  #dark .fa-xmark:hover {
    color: $onyx;
  }
}