@import "../../styles/colors.scss";

.NavbarItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  height: 2.75rem;
  padding-left: 2.5%;
  background: $silver-sand;


}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: $battleship-grey;
  font-weight: bold;
  height: 100%;
  font-size: 2.5rem;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  list-style: none;
  text-align: center;
  width: 100%;
  padding-right: 2.5%;
}

.nav-menu li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

.switch {
  display: flex;
  height: inherit;
  width: 7.5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: $battleship-grey;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0.5rem;
    left: -100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: 25%;
    background-color: $silver-sand;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-icon i {
    color: $battleship-grey;
  }

  .menu-icon i:hover {
    color: $cultured;
  }

  .fa-xmark {
    color: $battleship-grey;
    font-size: 2rem;
  }

  .fa-xmark:hover {
    color: $cultured;
  }
}