@import "../../styles/colors.scss";

.mapboxgl-ctrl {
  display: none !important;
}

.map-container {
  height: 90vh;
  width: 90vw;
  padding: 20px;
  margin: auto;
  border-radius: 10%;
}

.mapboxgl-canvas {
  border-radius: 1% !important;
}

.bi-current-location {
  font-size: 1rem;
  cursor: pointer;
}

.map-legend {
  position: absolute;
  margin: 1rem 0 0 1rem;
  width: 10rem;
  text-align: center;
}

.richter-scale {
  width: 10rem;
  background: linear-gradient(90deg, rgba(250,179,10,1) 0%, rgba(245,125,23,1) 25%, rgba(250,52,10,1) 100%);
  margin-top: 0.15rem;
}

.richter-data-labels {
  width: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: bold;
}