@import "../../styles/colors.scss";

.mapboxgl-ctrl {
  display: none !important;
}

.map-container {
  height: 95vh;
  width: 99vw;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  left: 50%;
  border-radius: 10%;
}

.mapboxgl-canvas {
  border-radius: 1%;
}

#light .mapboxgl-map {
  border-radius: 1%;
  box-shadow: 1px 1px 7px 0.125px $battleship-grey
}

#dark .mapboxgl-map {
  border-radius: 1%;
  box-shadow: 1px 1px 7px 0.125px black
}

.bi-current-location {
  font-size: 1rem;
  cursor: pointer;
  transition: font-size 0.25s ease-out 25ms;
}

.bi-current-location:hover {
  font-size: 1.5rem;
}

.map-legend {
  position: absolute;
  margin: 1rem 0 0 1rem;
  width: 11rem;
  text-align: center;
  backdrop-filter: blur(0.25rem);
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

#light .map-legend {
  border: 1px solid $battleship-grey;
  box-shadow: 1px 1px 7px 0.125px $battleship-grey;
  color: $battleship-grey;
}

#dark .map-legend {
  border: 1px solid black;
  box-shadow: 1px 1px 7px 0.125px black;
  color: $light-gray;
}

.richter-scale {
  width: 10rem;
  height: 0.5rem;
  background: linear-gradient(90deg, rgba(250,179,10,1) 0%, rgba(245,125,23,1) 25%, rgba(250,52,10,1) 100%);
  margin-top: 0.15rem;
}

.richter-data-labels {
  width: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: bold;
}